:host {
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

.app-grid {
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
  linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 999;
  opacity: 0.6;
}
