header {
  padding: 2rem 2rem 0 2rem;
  /* border-bottom: 1px solid #33363d; Consider if border is needed, global h1 has one */

  h1 {
    /* Inherits global h1 styles:
       font-size: 24px; color: $c-blue; border-bottom...
    */
    margin-bottom: 0.5rem;
  }

  p {
    color: #75787d; /* --color-text-muted */
    margin: 0;
    font-size: 14px;
  }
}
